certifi==2019.9.11
chardet==3.0.4
dj-database-url==0.5.0
Django==2.2.6
django-filter==2.1.0
django-heroku==0.3.1
django-rest-auth==0.9.5
djangorestframework==3.9.2
factory-boy==2.11.1
Faker==2.0.3
gunicorn==19.9.0
idna==2.8
Pillow==6.0.0
psycopg2==2.7.6.1
python-dateutil==2.8.0
pytz==2019.3
requests==2.21.0
six==1.12.0
sqlparse==0.3.0
text-unidecode==1.3
urllib3==1.24.3
whitenoise==4.1.4
