body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
      sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    letter-spacing: -0.35px;
    overflow-y: scroll;
  }
  
h1 {
    font-size: 1.5em;
    font-weight: 500;
}

.App {
    min-height: 100vh;
}

.header {
  cursor: pointer;
  border-bottom: 1px solid #e9ecef;
}

.header .btn-member {
  color: rgba(0, 0, 0, 0.54);
  font-size: 13px;
  transition: 0.1s all ease-in-out;
}
.header .btn-member:hover {
  color: rgba(0, 0, 0, 0.84);
  text-decoration: none;
}

.flex-container {
  height: 100%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-item {
  text-align: center;

}

.loginModal {
  left: 0;
  right: 0;
  top: 20px;
  bottom: auto;
  margin-left: auto;
  margin-right: auto;
  padding: auto;
  background-color: white;
  border-radius: 4px;
  position: absolute;
  max-width: 600px;
}

.loginModal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.loginModal-close {
  position: absolute;
  top: 8px;
  right: 12px;
}

@media (min-width: 813px) {
  .loginModal {
    top: 200px;
  }
  .loginModal-button {
    width: auto;
  }
}

.loginModal-button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  width: 100%;
  padding: 0.5rem 1rem;
}

.loginPrompt {
  top: 0;
  right: 0;
  left: 0;
  background-color: #e4efff;
  border-bottom: 1px solid #bbcae1;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  position: absolute;
  color: #1b3e72;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.search {
  outline: none;
  cursor: pointer;
}

.search .search-input {
  font-size: 13px;
  width: 265px;
  outline: none;
}
.search .search-overlay {
  top: 40px;
  left: 0;
  right: 0;
  font-size: 15px;
  z-index: 100;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
.search-input::placeholder {
  color: #a8a8a8;
}

.browseLanguage {
  width: 400px;
}

.order-status-state{
  position: absolute;
  top: 10px;
}
.order-status-status{
  text-transform: uppercase;
  font-weight: 500;
}
.title-item {
  height: 350px;
  min-width: 250px;
}

.title-item .item-link {
  border: 1px solid #e8e8e8;
  justify-content: center;
  align-items: center;
}
.title-item .item-link:hover {
  text-decoration: none;
}
.title-item .title-item-individual .text-secondary {
  color: #9b9b9b;
  line-height: 1.25em;
  font-size: 0.85em;
}
.title-item .title-item-individual .title-image {
  background: #f1f1f1;
  width: 100px;
  height: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 992px) {
  .title-item {
    height: 300px;
  }
}

@media (max-width: 992px) {
  .title-row .title-item:nth-child(4) {
    display: none !important;
  }
}

.span-img{
  position: relative;
  top: 30%;
  transform: translateY(-50%); 
}

.leaflet-container {
  height: 300px;
  width: 100%;
}

.rc-tooltip {
  opacity: 1;
}
.rc-tooltip-content {
  max-width: 200px;
}

#tooltip-white,
#header-logout {
  background: white;
  border-radius: 3px;
  padding: 8px 12px;
  border: 1px solid #e8e8e8;
  box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.2);
}
.rc-tooltip {
  opacity: 1;
}

.rc-tooltip-content .tooltip-item {
  padding-bottom: 6px;
  padding-top: 6px;
}

.header-login .header-image {
  width: 40px;
  height: 40px;
}

#header-logout {
  font-weight: 500;
  text-transform: uppercase;
  color: #e8e8e8;
}

/*Sidebar Content*/
#sidebar {
  overflow: hidden;
  z-index: 3;
}
.sidebar-icon {
  display: none;
}
#sidebar .list-group {
  min-width: 100px;
  background-color: #343a40!important;
  min-height: 100vh;
}
#sidebar i {
  margin-right: 6px;
}

#sidebar .list-group-item {
  border-radius: 0;
  background-color: #343a40!important;
  color: #ccc;
  border-left: 0;
  border-right: 0;
  border-color: #2c2c2c;
  white-space: nowrap;
}

/* highlight active menu */
#sidebar .list-group-item:not(.collapsed) {
  background-color: #343a40!important;
}

/* closed state */
#sidebar .list-group .list-group-item[aria-expanded="false"]::after {
content: " \f0d7";
font-family: FontAwesome;
display: inline;
text-align: right;
padding-left: 5px;
}

/* open state */
#sidebar .list-group .list-group-item[aria-expanded="true"] {
background-color: #343a40!important;
}

#sidebar .list-group .list-group-item[aria-expanded="true"]::after {
content: " \f0da";
font-family: FontAwesome;
display: inline;
text-align: right;
padding-left: 5px;
}

/* level 1*/
#sidebar .list-group .collapse .list-group-item,
#sidebar .list-group .collapsing .list-group-item  {
padding-left: 20px;
}


@media (max-width:768px) {
  #sidebar {
      min-width: 35px;
      max-width: 40px;
      overflow-y: auto;
      overflow-x: visible;
      transition: all 0.25s ease;
      transform: translateX(-45px);
      position: fixed;
  }
  .sidebar-icon{
    display:block;
  }
  #sidebar.show {
      transform: translateX(0);
  }

  #sidebar::-webkit-scrollbar{ width: 0px; }
  
  #sidebar, #sidebar .list-group {
      min-width: 35px;
      overflow: visible;
  }
  /* overlay sub levels on small screens */
  #sidebar .list-group .collapse.show, #sidebar .list-group .collapsing {
      position: relative;
      z-index: 1;
      width: 190px;
      top: 0;
  }
  #sidebar .list-group > .list-group-item {
      text-align: center;
      padding: .75rem .5rem;
  }
  /* hide caret icons of top level when collapsed */
  #sidebar .list-group > .list-group-item[aria-expanded="true"]::after,
  #sidebar .list-group > .list-group-item[aria-expanded="false"]::after {
      display:none;
  }
}

.collapse.show {
visibility: visible;
}
.collapsing {
visibility: visible;
height: 0;
-webkit-transition-property: height, visibility;
transition-property: height, visibility;
-webkit-transition-timing-function: ease-out;
transition-timing-function: ease-out;
}
.collapsing.width {
-webkit-transition-property: width, visibility;
transition-property: width, visibility;
width: 0;
height: 100%;
-webkit-transition-timing-function: ease-out;
transition-timing-function: ease-out;
}